# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="mongodb://localhost:27017/sample-node"
# For Atlas: mongodb+srv://<user>:<pass>@cluster.mongodb.net/sample-node

# JWT
JWT_SECRET=your-very-long-random-secret-here
JWT_EXPIRES_IN=7d
